
body {
  margin: 0;
  background-color: #0f0f0f;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
h1 {
  font-size: 3rem;
}
p {
  font-size: 1.3rem;
}
footer {
  margin-top: 2rem;
  font-style: italic;
  opacity: 0.8;
}
